body {
    color: green;
    font-family: "Comic Sans", sans-serif;
    display: flex-wrap;
    text-align: center;
}

/* section {
    text-align: center;
} */

.game {
    /* text-align: center; */
    display: flex;
}

#mygrid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}

/* #mygrid {
    width: 500px;
    height: 400px; */
    /* Ensure all of the divs wrap over each other with no gaps */
    /* display: flex;
    flex-wrap: wrap;
} */

.cell {
    font-family: Monospace, san-serif;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    background-color: white;
}